[credential]
	helper = cache --timeout=3600
[core]
	askpass = git-gui--askpass
  pager = delta
	editor = nvim
[pull]
	rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
